html {
    font-family: 'Lucida Sans Unicode';
    display: block;
    width: 100%;
}
body {
    width: 70%;
    margin: 0 auto;
}

#header {
    text-align: center;
    vertical-align: middle;
    height: auto;
}
#header h1 {
    margin-bottom: 5px;
}
#header h2 {
    margin-top: 5px;
}

.section {
    display: inline-block;
    width: 100%;
    position: relative;
}
.graph {
    width: 72%;
    position: absolute;
    display: table-cell;
}
.info {
    position: absolute;
    display: table-cell;
}
.info h3 {
    text-align: center;
    margin: 5% 2% auto 2%;
}

#map-info {
    margin-left: 72%;
    width: 28%;
}

#tree {
    margin-left: 28%;
}
#tree-info {
    width: 28%;
}

#brush-info {
    margin-left: 72%;
    width: 28%;
}

#density {
    margin-left: 28%;
}
#density-info {
    width: 28%;
}